* lab.vetneb@gmail.com

/server/** lab.vetneb@gmail.com
/frontend/** lab.vetneb@gmail.com
/.github/workflows/** lab.vetneb@gmail.com
/drizzle/migrations/** lab.vetneb@gmail.com
/drizzle/schema.ts lab.vetneb@gmail.com
/drizzle/relations.ts lab.vetneb@gmail.com
/drizzle.config.ts lab.vetneb@gmail.com
